output "project_id" {
  description = "OCID of the DevOps project."
  value       = oci_devops_project.main.id
}

output "build_pipeline_id" {
  description = "OCID of the build pipeline."
  value       = oci_devops_build_pipeline.main.id
}
