output "vcn_id" {
  description = "The OCID of the VCN."
  value       = oci_core_vcn.main.id
}

output "public_subnet_ids" {
  description = "List of public subnet OCIDs."
  value       = oci_core_subnet.public[*].id
}

output "private_subnet_ids" {
  description = "List of private subnet OCIDs."
  value       = oci_core_subnet.private[*].id
}

output "nat_gateway_id" {
  description = "OCID of the NAT gateway."
  value       = oci_core_nat_gateway.main.id
}
