apiVersion: v2
name: {{ project_slug }}
description: Helm chart for {{ project_name }}
type: application
version: 0.1.0
appVersion: "0.1.0"
maintainers:
  - name: {{ author_name }}
    email: {{ author_email }}
