output "oke_cluster_id" { value = module.oke.cluster_id }
output "oke_cluster_endpoint" { value = module.oke.cluster_endpoint }
output "ocir_repository_path" { value = module.ocir.repository_path }
output "vault_id" { value = module.vault.vault_id }
